::selection {
    background: rgba(255, 255, 255, 0.603); /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: rgba(255, 255, 255, 0.603); /* Gecko Browsers */
  }
  .ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }


